@import url('https://fonts.googleapis.com/css?family=Inconsolata|Press+Start+2P');

html {
  background-color:#121d38;
  color:#FFFFFF;
  font-family: 'Inconsolata', monospace;
  padding-top:20px;
}

#logo {
  font-family: 'Press Start 2P', cursive;
  font-size:0.7em;
}

#scorebox {
  display:flex;
  justify-content: space-between;
  width:50%;
  margin:auto;
  font-size:1.5em;
}

#scorebox div {
  align-self:center;
}

.container {
  border:1px solid white;
  width:400px;
  height:30px;
  margin:20px auto;
  position:relative;
}

#box {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
}

div#correct, div#incorrect {
  width:350px;
  margin:20px 10px;
  cursor: pointer;
  border-radius:10px;
  transition: width 0.5s ease-in-out;
  position:relative;
}

div img {
  width:100%;
  border-radius:10px;
  transition: box-shadow 0.1s ease-in-out;
  transition: margin-top 0.1s ease-in-out;
  margin-top:3px;
}

div img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top:0px;
}

#message, #instruction {
  text-align:center;
}

.success{
  color:#8CF88C;
}

.wrong {
  color:#D40F0F;
}
#indicator {
  width:50px;
  height:50px;
  background-color:green;
  border-radius:25px;
  position:absolute;
  bottom:0;
  right:0;
}

#review-btns {
  text-align:center;
  display:none;
}
button {
  width:140px;
  height:60px;
  margin: 10px;
  font-size:1em;
  border-radius:5px;
  cursor:pointer;
  font-family: 'Inconsolata', monospace;
}

#levelbox {
  width:400px;
  height:30px;
  border:1px solid blue;
  border-radius:20px;
  margin:30px auto;
  display:flex;
}

#progress {
  width:10%;
  background-color:blue;
  border-radius:20px;
  transition:width 0.5s ease-in-out;
  text-align:center;
}

#end_view {
  display:none;
  text-align:center;
  margin-top:20%;
}

button#play_again{
  width:100px;
  height:50px;
}
